In [26]:
import pandas as pd
import math
import numpy as np

In [34]:
tabla = pd.read_csv('TR_PERSONA09.CSV',encoding='latin1')
tabla.head()

,ID_VIV,ID_PERSONA,ENT,NOM_ENT,MUN,NOM_MUN,LOC50K,NOM_LOC,COBERTURA,ESTRATO,...,HIJOS_NAC_VIVOS,HIJOS_FALLECIDOS,HIJOS_SOBREVIV,FECHA_NAC_M,FECHA_NAC_A,SOBREVIVENCIA,EDAD_MORIR_D,EDAD_MORIR_M,EDAD_MORIR_A,TAMLOC
0,90020000001,9002000000101,9,Distrito Federal,2,Azcapotzalco,1,Azcapotzalco,2,09-002-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
1,90020000001,9002000000102,9,Distrito Federal,2,Azcapotzalco,1,Azcapotzalco,2,09-002-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
2,90020000002,9002000000201,9,Distrito Federal,2,Azcapotzalco,1,Azcapotzalco,2,09-002-03,...,5.0,0.0,5.0,2.0,1985.0,1.0,NaN,NaN,NaN,5
3,90020000003,9002000000306,9,Distrito Federal,2,Azcapotzalco,1,Azcapotzalco,2,09-002-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
4,90020000003,9002000000305,9,Distrito Federal,2,Azcapotzalco,1,Azcapotzalco,2,09-002-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5

In [35]:
Trues = tabla['NOM_MUN']=='Coyoacan'

In [36]:
sum(Trues)

0

In [3]:
tabla1 = pd.read_csv('TR_PERSONA15.CSV',encoding='latin1')
tabla1.head()

,ID_VIV,ID_PERSONA,ENT,NOM_ENT,MUN,NOM_MUN,LOC50K,NOM_LOC,COBERTURA,ESTRATO,...,HIJOS_NAC_VIVOS,HIJOS_FALLECIDOS,HIJOS_SOBREVIV,FECHA_NAC_M,FECHA_NAC_A,SOBREVIVENCIA,EDAD_MORIR_D,EDAD_MORIR_M,EDAD_MORIR_A,TAMLOC
0,150010000001,15001000000105,15,MÃ©xico,1,Acambay de RuÃ­z CastaÃ±eda,0,Localidad de menos de 50 mil habitantes,2,15-001-09,...,4.0,0.0,4.0,5.0,1993.0,1.0,NaN,NaN,NaN,1
1,150010000001,15001000000101,15,MÃ©xico,1,Acambay de RuÃ­z CastaÃ±eda,0,Localidad de menos de 50 mil habitantes,2,15-001-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,150010000001,15001000000102,15,MÃ©xico,1,Acambay de RuÃ­z CastaÃ±eda,0,Localidad de menos de 50 mil habitantes,2,15-001-09,...,2.0,0.0,2.0,7.0,2014.0,1.0,NaN,NaN,NaN,1
3,150010000001,15001000000103,15,MÃ©xico,1,Acambay de RuÃ­z CastaÃ±eda,0,Localidad de menos de 50 mil habitantes,2,15-001-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,150010000001,15001000000104,15,MÃ©xico,1,Acambay de RuÃ­z CastaÃ±eda,0,Localidad de menos de 50 mil habitantes,2,15-001-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1